<!DOCTYPE html>
<html>
	<!DOCTYPE html>
	<html>
	    <head>
	        <meta charset="utf-8">
	        <title>FTB系统</title>
	        <style>
			.kongge p{
			 text-align:left;
			 text-indent:2em;
			 padding-bottom:10px;
			}
	        </style>
	    </head>
	<body background="./static/img/lunai.png">
		<div>
			<div style="text-align: center;"><h1 style="color: #e5451c;">FTB系统</h1></div>
			<span style="font-size: large; ">
				<p>第一步：按E打开物品栏</p>
				<img src="./static/img/1.png">
				
				
				<p>第二步：点击我的团队（只有团队内的人才有团队认领的区块的权限）</p>
				<img src="./static/img/2.png">
				
				
				<p>第三步：点击创建一个队伍</p>
				<img src="./static/img/3.png">
				
				
				<p>第四步：在name下面的框内可以编辑队伍名称，编辑完成后点击Done完成创建</p>
				<img src="./static/img/4.png">
				
				
				<p>第五步：返回到物品栏界面，并且点击左上角的FTB区块</p>
				<img src="./static/img/9.png">
				
				
				<p>第六步：点击左上角的认领区块后进入区块认领界面</p>
				<img src="./static/img/6.png">
				<img src="./static/img/5.png">
				
				
				<p>第七步：在此界面左键即可认领区块，右键即可放弃认领</p>
				<img src="./static/img/8.png">
			</span>
		</div>
	</body>
</html>
