<!DOCTYPE html>
<html lang="en">
<head>
	<html xmlns="http://www.w3.org/1999/xhtml"xml:lang="ja"lang="ja" dir="ltr">
	<style type="text/css">
	</style>
	<meta charset="UTF-8">
	<title>Diana用爱发电</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<LINK REL="SHORTCUT ICON" HREF="http://mhly.mckfzy.tk/images/2.png"><html xmlns="http://www.w3.org/1999/xhtml"xml:lang="ja"lang="ja" dir="ltr"></head>
<body>
<aside>
	<a class="cur_a"><span>首页</span></a>
	<a><span>信息</span></a>
	<a><span>视频</span></a>
	<a><span>相关介绍</span></a>
</aside>
<section class="page_one" id="page1">
	<nav>
		<div class="nav_wrap">
			<div class="resume_logo">
			</div>
			<div class="nav_bar">
				<ul class="nav_bar_ul">

				</ul>
			</div>
		</div>
	</nav>

	<div class="cen_con">
		<div class="portrait">
		</div>
		<div class="cen_text">
			<font color="#E86064">
				<h1><p>  [Diana]</p></h1>
				<h2><a th:href="@{/Login}">登录</a></h2>
				<h2><a th:href="@{/List}">Mod教程</a></h2>
				<h2><a th:href="@{/PluginsList}">插件教程</a></h2>
			</font>
		</div>

	</div>
	<div class="down_arrow">
		<a class="scroll"><span></span></a>
	</div>

</section>

<section class="page_two" id="page2">
	<div class="con_wrap">
		<div class="tit_wrap">
			<h1>信息</h1>
			<div class="scissors">
				<span></span>
			</div>
		</div>
		<div class="myinfo">
			<table>
				<tbody>
				<tr>
					<td rowspan="6">
					</td>
					<td>[Diana]</td>
					<td>大家可以进入QQ群554265316来交流玩耍喔</td>
					<font color="#E86064"><h2><a href="https://qm.qq.com/cgi-bin/qm/qr?k=XBl1W8aFnX8C0Fl90bdBfK1DnMZn2-sR&jump_from=webapi">·>>加入QQ群<<</a></h2></font>

				</tr>
				<tr>

				<tr>
					<td colspan="3">
						<p>公告:</p><br>
						<p>欢迎来到[Diana]用爱发电</p>

					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="down_arrow">
		<a class="scroll"><span></span></a>
	</div>
</section>
<section class="page_three" id="page3">
	<div class="con_wrap">
		<div class="tit_wrap">
			<h1>视频分享</h1>
			<div class="scissors">
				<span></span>
			</div>
			<h2>分享</h2>
		</div>
		<div class="skill_con">
			<div class="canvas_wrap">
				<div class="canvas_con">
					<div class="text_con">
						<p class="percent">推广</p>
						<p class="chart_title">0个相关</p>
					</div>
					<canvas id="html5" width=160 height=160></canvas>
				</div>
				<div class="canvas_con">
					<div class="text_con">
						<p class="percent">攻略</p>
						<p class="chart_title">0个相关</p>
					</div>
					<canvas id="css3" width=160 height=160></canvas>
				</div>
				<div class="canvas_con">
					<div class="text_con">
						<p class="percent">介绍</p>
						<p class="chart_title">0个相关</p>
					</div>
					<canvas id="js" width=160 height=160></canvas>
				</div>
				<div class="canvas_con">
					<div class="text_con">
						<p class="percent">MODS介绍</p>
						<p class="chart_title">0个相关</p>
					</div>
					<canvas id="jq" width=160 height=160></canvas>
				</div>
				<div class="canvas_con">
					<div class="text_con">
						<p class="percent">插件介绍</p>
						<p class="chart_title">0个相关</p>
					</div>
					<canvas id="bs" width=160 height=160></canvas>
				</div>
				<div class="canvas_con">
					<div class="text_con">
						<p class="percent">更新物</p>
						<p class="chart_title">0个相关</p>
					</div>
					<canvas id="ps" width=160 height=160></canvas>
				</div>
			</div>
			<div class="text_wrap">
				<h2>暂无</h2>
			</div>
		</div>

	</div>
	<div class="down_arrow">
		<a class="scroll"><span></span></a>
	</div>
</section>
<section class="page_four" id="page4">
	<div class="con_wrap">
		<div class="tit_wrap">
			<h1>相关介绍</h1>
			<div class="scissors">
				<span></span>
			</div>
		</div>
		<div class="work_con">
			<div class="programe">
				<div class="work_time">待定</div>
				<div class="work_text">
					<div class="triangle-left"></div>
					<div class="exCon">
						<h4> 待定</h4>
						<h5> </h5>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="down_arrow">
		<a class="scroll"><span></span></a>
	</div>
</section>
<section class="page_five" id="page5">
	<div>
		<div class="con_wrap">
			<div class="tit_wrap">
				<h1>联系我们</h1>
				<div class="scissors">
					<span></span>
				</div>
				<h2>如果出现问题欢迎大家及时反馈</h2>
			</div>
			<div class="contact_detail">
				<ul class="con_style">
					<li>
						<span></span>
						<p>ID</p>
					</li>
					<li>
						<span></span>
						<p>邮箱</p>
					</li>
					<li>
						<span></span>
						<p>手机号</p>
					</li>
				</ul>
				<div class="contact_info">
					<form action="" method="get">
						<label>
							<input type="text" id="username" placeholder="你的ID" required="">
							<p  id="check_username"></p>
						</label>
						<label>
							<input type="text" id="usermail" placeholder="你的邮箱" required="">
							<p id="check_usermail"></p>
						</label>
						<label>
							<input type="text" id="usertheme" placeholder="主题" required="" maxlength="25">
							<p id="check_usertheme"></p>
						</label>
						<label>
							<textarea id="usercon" placeholder="内容" required=""></textarea>
							<p id="check_usercon" ></p>
						</label>
						<button>发送</button>
					</form>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<font color="#5BA4E8">
					</font>
				</div>
			</div>
		</div>
	</div>
</section>
<div style="text-align:center;">
</div>
</body>
<script type="text/javascript" src="js/main.js"></script>
</html>